body {
    background-color: #f291c0;
    height: 100vh;
    text-align: center;
}

h1.yellow-text {
    color: #fadf45;
    font-size: 75px; /* units rem instead of px*/
    font-family: ccbiffbamboomoutline, sans-serif;
    font-weight: 400; /* try delete*/
    font-style: normal; /* try delete*/
    padding: 1em; /* try rem 1-4 instead of em*/ 
    }

h2.black-text {
    color:black;
    font-size: 30px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.column {
    display: inline-block;
    width: 33%;
    background-color: purple;
}

.crystal-ball {
    width: 13rem; 
    padding: 3rem;
    margin:
    z-index:2; /*overlapping*/
}

.blinking-eye {
    width: 20rem;
}

.waving-hand {
    width: 13rem;
}
.row {
    background-color: yellow;
    padding: 1rem;
    width: 80%;
    margin: auto;
}

    /* THIS IS WHERE PAGE 2 STARTS*/

.page-2 {
    background-image: url(Images/background.jpg);
    background-repeat: no-repeat;
    background-size: 1600px 900px;
    max-width: 100%;
}

div.card {
    box-shadow: 04px 2px 0; 
    background-color: whitesmoke;
    width:15rem;
    height: 20rem;
    border-radius: 2rem;
    padding: 30px;
    font-family: "Nova Square"; 
    font-size: 18px;
    margin: auto; 
    z-index:1;
}

.shuffle-button {
    width: 5rem;
    margin-left: 20rem; 
    margin-top: -30rem;
    z-index:2;
}

.return-button {
    width: 10rem;
    margin-right: 65rem
}